<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GvhServlet</servlet-name>
        <servlet-class>controlleur.GvhServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransfereServlet</servlet-name>
        <servlet-class>controlleur.TransfereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlerteServlet</servlet-name>
        <servlet-class>controlleur.AlerteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenouServlet</servlet-name>
        <servlet-class>controlleur.RenouServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GvhServlet</servlet-name>
        <url-pattern>/GvhServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransfereServlet</servlet-name>
        <url-pattern>/TransfereServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlerteServlet</servlet-name>
        <url-pattern>/AlerteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenouServlet</servlet-name>
        <url-pattern>/RenouServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
